{% extends 'polls/base.html' %}
{% block content %}
    <div class="main-wrapper">
            {% for question in question_objects %}
                <div class="q-wrapper gradient-v" id="q{{question.id}}">
                    <div class="question-header">{{question}}</div>
                    <ul>
                        {% for choice in question.choice_set.all %}
                            <li>{{choice}}</li>
                        {% endfor %}
                    </ul>
                    <button>Vote</button>
                </div>
            {% endfor %}
    </div>
{% endblock content %}